@tailwind base;
@tailwind components;
@tailwind utilities;

/* .back {
    margin: 10px;
    border: 3px solid white;
    border-radius: 25px;
} */

.retour:hover {
    text-decoration: underline;
}

